@font-face {
    font-family: 'Cosi Times Bold';
    src: url('../font/CosiTimes-Bold.woff2') format('woff2'),
    url('../font/CosiTimes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #171717;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    background-color: #fff;
    margin: 4% 8%;
    padding: 3%;
}

main h1 {
    font-family: 'Cosi Times Bold', system-ui, 'Segoe UI', sans-serif;
    margin-bottom: 3%;
}

main h2 {
    font-family: 'Cosi Times Bold', system-ui, 'Segoe UI', sans-serif;
}

main p, main ul li {
    font-family: system-ui, 'Segoe UI', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    font-family: system-ui, 'Segoe UI', sans-serif;
    font-weight: 400;
    margin-bottom: 2%;
}

.columns {
    columns: 3;
    display: flex;
    justify-content: space-around;
}

footer .columns col1 img {
    width: 55%;
}

footer .columns col1 {
    width: 14%;
}

col2 {
    width: 33%;
}

col2 ul {
    display: flex;
    flex-direction: column;
}

.columns h3 {
    color: #F76236;
    margin-top: 0;
}

col2 ul li a {
    text-decoration: none;
    color: #f4efea;
}

.columns ul {
    list-style: none;
    margin: 0;
}

.columns p {
    color: #f4efea;
    margin-bottom: 0px;
}

footer .columns col3 .reseaux {
    margin-top: 11%;
}

footer .columns col3 .reseaux img {
    width: 10%;
    margin-right: 2%;
}

.mail a {
    color: #f4efea;
    text-decoration: none;
}

.mentions {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.mentions a {
    color: #f4efea;
    text-decoration: none;
    font-size: 1.2em
}

.mentions a:hover {
    border-bottom: #f4efea solid 1px
}

@media (max-width: 600px) {
    .contact h2 {
        font-size: 2.4em;
    }

    footer .columns col1 {
        display: flex;
        justify-content: flex-end;
        width: 14%;
    }

    footer .columns col1 img {
        height: 10vh;
        width: auto;
    }
}

@media (max-width: 450px) {
    .columns {
        flex-direction: column;
    }

    footer .columns col1 {
        justify-content: center;
        width: 100%;
    }

    col2 {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-bottom: 9%;
    }

    col3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer .columns col1 img {
        height: 0;
    }

    footer .columns col3 .reseaux {
        margin-top: 6%;
    }

    footer .columns col3 .reseaux img {
        width: 8%;
    }

    .columns h3 {
        margin-bottom: 1%;
    }

    .columns p {
        margin: 1%;
    }

    .columns ul {
        padding: 0;
    }
}